body{
  font-family: 'Outfit', sans-serif;
  font-weight: lighter;
  text-align: center;
}

h1{
  font-weight: lighter;
  font-size: 3em;
}

h2{
  font-weight: lighter;
}

h3{
  font-weight: lighter;
}

/* Dropdown Button */
.dropbtn {
  background-color: midnightblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 200px;
  border-radius: 10px;
}

#expand{
  position: relative;
  top: 7px;
  right: -5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 200px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: blue;}

.back-arrow{
  float: left;
  position: relative;
  top: -45px;
}

.back-arrow a:link{
  background-color: transparent;
  color: black;
  text-decoration: none;
}

.unavailable-machine{
  background-color: #FF7978;
}

.available-machine{
  background-color: #97FFB2;
}

.floor{
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
}

.machine-info{
  /*float: left;*/
  display: inline-block;
  width: 35%;
  margin: 5px;
  padding: 5px;
}

.machine-picture{
  width: 50%;
 /* mix-blend-mode: multiply;*/
}

.resBody{
  font-size: 130%;
}

.confirm-popup{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  border: solid darkgray;
  opacity: 1;
  background-color: darkgray;
}

.popup-text{
  padding: 10px;
  margin: auto;
}
